@import cleanslate.css;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italicitalic,300,600);

#myWidget .mw-wrapper {
  margin: 0;
  padding: 10px 20px;
  background: #f2f3f4;
  width: 370px;
  font-size: 100%;
  line-height: 160%;
  color: #5f626f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.mw-wrapper a {
    color: #11a0d7;
    text-decoration: none;
    border-bottom: 1px dotted #11a0d7
}

.mw-wrapper .mw-input-group {
  margin: 16px 0;
}

.mw-wrapper h1 {
    font-size: 2.2em;
    line-height: 120%;
    padding: 8px 0;
    margin: 0;
    font-weight: 200;
}

.mw-wrapper h2 {
    font-size: 2.4em;
    line-height: 120%;
    padding: 8px 0;
    margin: 0;
    font-weight: 200;
}

.mw-wrapper h3 {
    font-size: 1.8em;
    line-height: 120%
    padding: 8px 0;
    margin: 0;
    font-weight: 200;
}

.mw-wrapper hr {
    border: 0;
    border-bottom: 1px solid #c9cbd1;
    height: 0;
    margin: 20px 0;
    clear: both
}

.mw-wrapper label {
    color: #6b6e7d;
    display: block;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.mw-wrapper input[type=number] {
  box-sizing: border-box;
  width: 95%;
  padding: 10px 15px;
  font-size: 140%;
  border: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 200;
  background: white;
}

.mw-wrapper input[type=email] {
    box-sizing: border-box;
    width: 95%;
    padding: 10px 15px;
    font-size: 140%;
    border: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 200;
    background: white;
}

.mw-wrapper .input_with_appended_unit_right span {
  position: relative;
  right: -10px;
  z-index: 1;
  font-size: 140%;
}

.mw-wrapper .input_with_appended_unit_right input {
  padding-left: 22px;
  position: relative;
  right: 16px;
}

.mw-wrapper button,
.mw-wrapper input[type=submit],
.mw-wrapper .btn,
.mw-wrapper a.btn,
.mw-wrapper .grey a.btn,
.mw-wrapper .blue a.btn,
.mw-wrapper .blue-dark a.btn,
.mw-wrapper .gold a.btn {
    display: block;
    box-sizing: border-box;
    width: 95%;
    padding: 10px 20px;
    font-size: 1.5em;
    border: 0;
    cursor: pointer;
    margin: 0 10px 5px 0;
    color: #5f626f;
    text-decoration: none;
    border: 0;
    opacity: .9;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 200
}

.mw-wrapper button.blue,
.mw-wrapper button.gold,
.mw-wrapper button.grey,
.mw-wrapper button.blue-dark,
.mw-wrapper input[type=submit].blue,
.mw-wrapper input[type=submit].gold,
.mw-wrapper input[type=submit].grey,
.mw-wrapper input[type=submit].blue-dark,
.mw-wrapper .btn.blue,
.mw-wrapper .btn.gold,
.mw-wrapper .btn.grey,
.mw-wrapper .btn.blue-dark,
.mw-wrapper a.btn.blue,
.mw-wrapper a.btn.gold,
.mw-wrapper a.btn.grey,
.mw-wrapper a.btn.blue-dark,
.mw-wrapper .grey a.btn.blue,
.mw-wrapper .grey a.btn.gold,
.mw-wrapper .grey a.btn.grey,
.mw-wrapper .grey a.btn.blue-dark,
.mw-wrapper .blue a.btn.blue,
.mw-wrapper .blue a.btn.gold,
.mw-wrapper .blue a.btn.grey,
.mw-wrapper .blue a.btn.blue-dark,
.mw-wrapper .blue-dark a.btn.blue,
.mw-wrapper .blue-dark a.btn.gold,
.mw-wrapper .blue-dark a.btn.grey,
.mw-wrapper .blue-dark a.btn.blue-dark,
.mw-wrapper .gold a.btn.blue,
.mw-wrapper .gold a.btn.gold,
.mw-wrapper .gold a.btn.grey,
.mw-wrapper .gold a.btn.blue-dark {
    color: white
}
.mw-wrapper button.blue,
.mw-wrapper input[type=submit].blue,
.mw-wrapper .btn.blue,
.mw-wrapper a.btn.blue,
.mw-wrapper .grey a.btn.blue,
.mw-wrapper .blue a.btn.blue,
.mw-wrapper .gold a.btn.blue {
    background: #2db9ee
}
.mw-wrapper button.blue-dark,
.mw-wrapper input[type=submit].blue-dark,
.mw-wrapper .btn.blue-dark,
.mw-wrapper a.btn.blue-dark,
.mw-wrapper .grey a.btn.blue-dark,
.mw-wrapper .blue a.btn.blue-dark,
.mw-wrapper .blue-dark a.btn.blue-dark,
.mw-wrapper .gold a.btn.blue-dark {
    background: #0e7da7
}
.mw-wrapper button:hover,
.mw-wrapper input[type=submit]:hover,
.mw-wrapper .btn:hover,
.mw-wrapper a.btn:hover,
.mw-wrapper .grey a.btn:hover,
.mw-wrapper .blue a.btn:hover,
.mw-wrapper .blue-dark a.btn:hover,
.mw-wrapper .gold a.btn:hover {
    opacity: 1
}
