<div class="cleanslate">
  <div class="mw-wrapper">
    <h1>Estimate your monthly car loan payment</h1>

    <div class="mw-input-group input_with_appended_unit_right">
      <label>Loan Amount</label>
      <span>$</span>
      <input id="amount" type="number" class="amount" min="1" max="1000000" value="{{loanAmount}}" />
    </div>

    <div class="mw-input-group">
      <label>Interest Rate (%)</label>
      <input id="interest_rate" class="rate" type="number" min="0" max="100" value="10" step=".1" value="{{interestRate}}" />
    </div>

    <div class="mw-input-group">
      <label>Months</label>
      <input id="months" class="term" type="number" min="1" max="72" value="1" step="1" value="{{months}}" />
    </div>

    <div class="mw-input-group">
    <label>Your estimated monthly payment</label>
    <h2 id="payment" color="dark-blue">${{payment}}</h2>

    <hr>

    <div class="mw-input-group">
      <h3>Have our team contact you</h3>
    </div>

      <form action="https://formspree.io/rfsalerno@gmail.com"
            method="POST">
        <div class="mw-input-group">
          <label>Your email</label>
          <input type="email" placeholder="your@email.com" name="_replyto">
        </div>

        <div class="mw-input-group">
          <button type="submit" class="blue-dark" value="Send">Submit</button>
        </div>
      </form>

<!--     <div class="mw-input-group">
      <label>Your email</label>
      <input type="text" placeholder="your@email.com" />
    </div>

    <div class="mw-input-group">
      <button class="blue-dark">Submit</button>
    </div>
 -->
  </div>
  </div>
</div>
